body{
  background-color: #F94144;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 1600px;
  /* height: 1000px; */
  background-color: #FFEEEB;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  background-color:rgb(194, 188, 188);
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 90%;
  margin-bottom: 20px;
}

